* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background);
}

:root {
  --background: #1A1D23;
  --info: #BBBBBB;
  --heading: #F8F8F8;
  --body: #D7D7D7;
  --highlight: #FF57B2;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}
