.container {
  max-width: 700px;
  margin: 0 auto;
}

.post {
  a {
    color: var(--heading);
    font-size: 1.75rem;
    font-weight: bold;
  }

  p {
    color: var(--body);
    font-size: 1.12rem;
    font-weight: 400;
    margin-top: 0.5rem;
  }

  div {
    display: flex;
    margin-top: 1.5rem;
    color: var(--info);

    span, time {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      font-size: 0.9rem;

      > svg {
        margin-right: 0.5rem;
      }
    }

    time:not(:last-child), span:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.loadMoreButton {
  background: none;
  border: 0;
  color: var(--highlight);
  font-size: 1.12rem;
  font-weight: 600;

  margin: 4rem 0 5rem 0;

  &:hover {
    cursor: pointer;
    filter: brightness(0.80);
  }
}
